<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.MemberMapper">
	
	
	<resultMap type="org.zerock.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid" />
		<result property="userpw" column="userpw" />
		<result property="userName" column="username" />
		<result property="regDate" column="regdate" />
		<result property="updateDate" column="updatedate" />
		<result property="enabled" column="enabled" />
		
		<collection property="authList" resultMap="authMap" />
		
	</resultMap>

	<resultMap type="org.zerock.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	
	<select id="read" resultMap="memberMap">
		select
			m.userid, userpw, username, enabled, 
			regdate, updatedate, a.auth
		from tbl_member m left outer join tbl_member_auth a
		on m.userid = a.userid
		where m.userid = #{userid}
	</select>
</mapper>